* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.6s ease-out;
}

.container {
    position: relative;
    background-color: white;
    width: 400px;
    padding: 28px;
    font-family: 'Asul', sans-serif;
    font-size: 24px;
    border-radius: 25px;
    border: #aa936d;
    border-style: solid;
    transition: 0.6s ease-out;
}

.art {
    position: fixed;
    right: 20%;
    z-index: -1;
}

/* ------- Search Box ------- */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-box input {
    font-size: 20px;
    border-radius: 5px;
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: black;
}

.search-box button {
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

.search-box button:hover {
    color: white;
    background-color: black;
    transition: 0.1s ease-out;
}

/* ------- Player Box ------- */
.player-box {
    margin-top: 32px;
}

.player-box .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
}

.player-box .header .user-level {
    font-size: 32px;
    font-weight: bold;
}

.player-box .user-mail {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.player-box i {
    margin-right: 10px;
}

.class-amblem {
    position: absolute;
    left: 75%;
    top: 55%;
}

.class-amblem img {
    height: 200px;
}

/* ------- Animations ------- */
.fade-in {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}